# JetBrains phpStorm IDE files -------------------------------------------------
/.idea/*

# settings ---------------------------------------------------------------------
#
# ------------------------------------------------------------------------------

# test -------------------------------------------------------------------------
/test
# ------------------------------------------------------------------------------